/* * {
  box-sizing: border-box;
} */
body {
  font-family: "Segoe UI";
  font-weight: lighter;
}
nav {
  font-weight: bolder;
}
.navlink {
  color: #6495ed;
}
h1 {
  text-align: center;
}
h2.welcome {
  color: #40e0d0;
  font-weight: bold;
  font-size: 2rem;
}
.italicize {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.bold.popgrey {
  color: #a7a0a0;
}
.courseheading {
  font-weight: bolder;
}
.courselinks {
  color: #f1f2f4;
}
footer {
  font-size: .6em;
}
.socialglyph {
  border-style: none;
  padding: 5px;
}
.assignmentimg {
  border: 3px solid;
  padding: 15px;
}
.titledescription {
  font-size: 1.2rem;
}
.quarterheader {
  font-size: 1.2rem;
  font-weight: bold;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 1%;
  padding: 1%;
}
section.course {
  background-color: #b0e0e6;
  border: 3px dotted;
  margin: 3%;
  padding: 3%;
  /* width: 30%; */
}
