/* * {
  box-sizing: border-box;
} */
body {
  font-family: "Segoe UI";
  font-weight: lighter;
}
nav {
  font-weight: bolder;
}
.landing-nav, .project-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: auto;
  padding-left: 0;
  padding-top: 1rem;
}
.fab {
  font-size: 3rem;
}
.navlink {
  color: #6495ed;
  text-decoration: none;
  padding-right: 1rem;
}
h1.landing {
  font-family: 'Crimson Text', serif;
  margin: auto;
  max-width: 50%;
  text-align: center;
}
h2.welcome {
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Crimson Text', serif;
}
.italicize {
  font-style: italic;
}
main.landing {
  margin: auto;
  max-width: 50%;
}
.bold {
  font-weight: bold;
}
.description {
  font-family: 'Open Sans', sans-serif;
}
.courseheading {
  font-weight: bolder;
}
.courselinks {
  color: #f1f2f4;
}
footer {
  font-size: .6em;
}
.socialglyph {
  border-style: none;
  padding: 5px;
}
.assignmentimg {
  border: 3px solid;
  padding: 15px;
}
.titledescription {
  font-size: 1.2rem;
}
.quarterheader {
  font-size: 1.2rem;
  font-weight: bold;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 1%;
  padding: 1%;
}
section.course {
  background-color: #b0e0e6;
  border: 3px dotted;
  margin: 3%;
  padding: 3%;
  /* width: 30%; */
}
