/* * {
  box-sizing: border-box;
} */
body {
  font-family: "Segoe UI";
  font-weight: lighter;
}
nav {
  font-weight: bolder;
}
nav:first-of-type a:hover {
  font-weight: bold;
}
section[class^="course"] i {
  font-size: 3rem;
  color: grey;
}
.landing-nav, .project-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: auto;
  padding-left: 0;
  padding-top: 1rem;
}
.fab {
  font-size: 3rem;
}
.navlink {
  color: #6495ed;
  text-decoration: none;
  padding-right: 1rem;
}
.desclink {
  color: #6495ed;
  text-decoration: none;
  transition-property:font-size;
  transition-duration: 1.2s;
  transition-delay: 1s;
}
.desclink:hover {
  font-weight: bold;
  font-size: 1.6rem;
}
h1 {
  font-family: 'Crimson Text', serif;
}
h1.landing {
  font-family: 'Crimson Text', serif;
  margin: auto;
  max-width: 50%;
  text-align: center;
}
h2.welcome {
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Crimson Text', serif;
}
/* .italicize {
  font-style: italic;
} */
main.landing {
  margin: auto;
  max-width: 50%;
}
/* .bold {
  font-weight: bold;
} */
.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15rem;
}
.courseheading {
  font-weight: bolder;
}
.courselinks {
  color: grey;
  text-decoration: none;
}
/* .socialglyph {
  border-style: none;
  padding: 5px;
} */
/* .assignmentimg {
  border: 3px solid;
  padding: 15px;
} */
.titledescription {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.quarterheader {
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
  font-weight: bold;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 1%;
  padding: 1%;
}
section.course {
  position: relative;
  background-color: lightgrey;
  border: 3px dotted lightgrey;
  margin: 3%;
  padding: 3%;
  /* width: 30%; */
}
section.course h2 {
  color: grey;
  font-size: 1rem;
}
section.course p {
  margin-bottom: 5em;
  color: grey;
}
section.course footer {
  position: absolute;
  bottom: 0;
  padding-bottom: .5em;
  margin: auto;
}
section.course {
  transition-property:background-color;
  transition-duration: 1.2s;
  transition-delay: 1s;
}
section.course:hover {
  border: 3px dotted white;
  background-color: #6495ed;
}
section.course:hover h2,
section.course:hover p,
section.course:hover i,
section.course:hover a{
  color: white
}
